<section class="cd-hero js-cd-hero js-cd-autoplay heroBg" id="contador">
    <ul class="cd-hero__slider">
        <li class="cd-hero__slide cd-hero__slide--selected js-cd-slide">
            <div class="cd-hero__content cd-hero__content--full-width">
                <div class="angle-content"> 
                </div>   
                <img src="assets/img/logo.svg" class="show-web" loading="lazy">
                <img src="assets/img/logo-white.svg" class="show-mobile" loading="lazy">
                <img src="assets/img/img.png" class="hero-img" loading="lazy"> 
                <div class="promo-s20-container">
                    <div class="blur"></div>
                    <p class="text">Lanzamiento en vivo este 7 de julio</p>
                    <div id="flipdown" class="flipdown"></div>
                    <p class="text2">¡Te enviaremos un recordatorio del evento a tu correo!</p>
                    <div class="btn-container">
                        <input id="email-input-s20" name="email" [(ngModel)]="email" placeholder="Ingresa tu email" class="input-s20">
                        <re-captcha #captchaRef2="reCaptcha" siteKey="{{SITE_KEY_V3}}" (resolved)="resolved2($event)" size="invisible"></re-captcha>
                        <button (click)="clickFormContador(captchaRef2)" class="input-s20-btn" data-toggle="modal" data-target="#successModal">Enviar</button>
                    </div>
                </div>
            </div>
        </li>
    </ul> 
</section>
<section id="sorteo">
   <div class="videoPlayer" *ngIf="videoPlaying" id="featured-media" >
        <div id="player"></div>
        <div class="actions">
            <div class="nv-button-full js-play noBorder leftP">
                <button type="button" class="noBorder" data-plyr="play" aria-label="Play">
                    <img src="assets/img/playYT.png" *ngIf="!showPause" (click)="playYT()"  class="playYT">
                    <img src="assets/img/pauseYT.png" *ngIf="showPause"  (click)="pauseYT()" class="pauseYT">
                </button>
                <button type="button" class="noBorder">
                    <img src="assets/img/fullscreenYT.png" (click)="playFullscreen()" class="fullscreenYT" id="fullscreenYT">
                </button>
            </div>
        </div>
    </div>
    <header class="masthead" [ngClass]="(videoPlaying)?'masthead noBg':'masthead'" >
        <img src="assets/img/play.png" (click)="playVideo()" *ngIf="!videoPlaying" class="play">
        <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 textcentermobile">
            <h1 class="font-weight-bold animate-pop-in">Reconéctate<br> con tu mundo</h1>
             
            <p class="lead animate-pop-in">Sigue el lanzamiento del S20 y Z Flip y<br>Entra al sorteo por 5 Galaxy Watch y un<br> Galaxy S20 BTS Edition</p>
            <button class="btn animate-pop-in" (click)="scroll(promociones)">Ver Promociones</button> 
            <button class="btn white animate-pop-in" (click)="scroll(sorteo)">Entrar al sorteo</button>
            </div>
        </div>
        </div>
        <div class="arrow arrow-first" *ngIf="!videoPlaying"></div>
        <div class="arrow arrow-second"  *ngIf="!videoPlaying"></div>
    </header>
    <div class="container sorteo" #promociones>
        <h1>Elige tu favorito</h1>
        <h2>Disfruta de los descuentos y promociones que te ofrece galaxy</h2>

        <ngx-slick-carousel class="carousel hide-mobile" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <img src="assets/productos/Card{{slide}}.png" alt="" width="100%" >
                <p class="card-link" (click)="openModalRetailer(slide)">Encuéntralo Aquí ></p>
            </div>
        </ngx-slick-carousel>

        <div class="boxCard">
            <div class="card card--black current">
                <div>
                    <img src="assets/productos/Card3.png" alt="" width="75%" >
                    <p class="card-link" (click)="openModalRetailer(3)">Encuéntralo Aquí ></p>
                </div>
            </div>
            <div class="card card--red">
                <div>
                    <img src="assets/productos/Card4.png" alt="" width="75%" >
                    <p class="card-link" (click)="openModalRetailer(4)">Encuéntralo Aquí ></p>
                </div>
            </div>
            <div class="card card--green">
                <div>
                    <img src="assets/productos/Card1.png" alt="" width="75%" >
                    <p class="card-link" (click)="openModalRetailer(1)">Encuéntralo Aquí ></p>
                </div>
            </div>
            <div class="card card--black">
                <div>
                    <img src="assets/productos/Card2.png" alt="" width="75%" >
                    <p class="card-link" (click)="openModalRetailer(2)">Encuéntralo Aquí ></p>
                </div>
            </div>
          </div>

        <div class="row banner">
            <div class="col-lg-2 col-md-12">
                &nbsp;
                <img src="assets/img/tv.png" class="tv">
            </div>
            <div class="col-lg-7 col-md-12 text">
                ¡Compra tu producto hoy,<br> <b>registra tu compra y entra al <br>sorteo por un televisor QLED 8K!</b>
            </div>
            <div class="col-lg-3 col-md-12">
                <a href="https://www.samsung.com.pe/galaxy2020-sorteo" class="btn" target="_blank">Entérate más aquí</a>
            </div>
        </div>
        <h3>¡Entra al sorteo por <b>5 Galaxy Watch <br>
            y un Galaxy S20 BTS Edition!</b></h3>
        <h4>¡Gracias por seguir nuestra transmisión! Regístrate al sorteo en el siguiente formulario.</h4>
        <img src="assets/img/premios.png" class="premios">
        <form #myForm2="ngForm" ngNativeValidate (submit)="saveSorteo(myForm2); ">
            <div class="form">
                <div class="row">
                    <div class=" col-md-12 col-lg-4 form-group">
                    </div>
                    <div  #sorteo class=" col-md-12 col-lg-4 form-group text-align-center">
                        Imágenes referenciales. <br> Todos los campos con (*) son obligatorios.
                    </div>
                    <div class=" col-md-12 col-lg-4 form-group">
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-12 col-lg-4 form-group">
                        <label>Nombres (*)</label>
                        <input [(ngModel)]="firstName" type="text" name="firstName" class="form-control" required>
                    </div>
                    <div class=" col-md-12 col-lg-4 form-group">
                        <label>Apellidos (*)</label>
                        <input [(ngModel)]="lastName" type="text" name="lastName" class="form-control" required>
                    </div>
                    <div class=" col-md-12 col-lg-4 form-group">
                        <label>Número de telefono (*)</label>
                        <input [(ngModel)]="phone" type="text" name="phone" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-12 col-lg-4 form-group">
                        <label>Correo electrónico (*)</label>
                        <input [(ngModel)]="email" type="text" name="email" class="form-control" required>
                    </div>
                    <div class=" col-md-12 col-lg-4 form-group">
                    <label>Región (*)</label>
                    <select [(ngModel)]="province" class="form-control" required name="province">
                        <option [ngValue]="null" [disabled]="true">Seleccione</option>
                        <option>Amazonas</option>
                        <option>Áncash</option>
                        <option>Apurímac</option>
                        <option>Arequipa</option>
                        <option>Ayacucho</option>
                        <option>Cajamarca</option>
                        <option>Cusco</option>
                        <option>Huancavelica</option>
                        <option>Huanuco</option>
                        <option>Ica</option>
                        <option>Junín</option>
                        <option>La Libertad</option>
                        <option>Lambayeque</option>
                        <option>Lima</option>
                        <option>Loreto</option>
                        <option>Madre de Dios</option>
                        <option>Moquegua</option>
                        <option>Pasco</option>
                        <option>Piura</option>
                        <option>Puno</option>
                        <option>San Martín</option>
                        <option>Tacna</option>
                        <option>Tumbes</option>
                        <option>Callao</option>
                        <option>Ucayali</option>
                    </select>
                    </div>
                    <div class=" col-md-12 col-lg-4 form-group">
                    <label>¿Cual es tu favorito?</label>
                    <select [(ngModel)]="favorite" name="favorite"  class="form-control">
                        <option [ngValue]="null" [disabled]="true">Seleccione</option>
                        <option>Galaxy S20 Ultra</option>
                        <option>Galaxy S20 +</option>
                        <option>Galaxy S20</option>
                        <option>Galax Z Flip</option>
                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-12 col-lg-4 form-group">
                        <label>Ingresa codigo del evento (*)</label>
                        <input required [(ngModel)]="promotionalCode" name="promotionalCode" type="text" class="form-control info-input" required>
                        <div class="tooltipInput">
                            <img src="assets/img/info.png" class="info-img">
                            <span class="tooltiptext">Encuentra tu código promocional en el video de la transmisión.</span>
                        </div>
                    </div>
                    <div class=" col-md-12 col-lg-4 form-group">
                        <label>¿Donde desearias comprarlo? (*)</label>
                        <select required [(ngModel)]="store" name="store"  class="form-control">
                            <option [ngValue]="null" [disabled]="true">Seleccione</option>
                            <option >Claro</option>
                            <option>Entel</option>
                            <option>Movistar</option>
                            <option>Equipo liberado</option>
                            <option>Samsung Experience Store</option>
                            <option>Tienda Online</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-12 col-lg-4 form-group custom">
                        <input required [(ngModel)]="acceptedPrivacyPolicy" name="acceptedPrivacyPolicy" type="checkbox" id="checkbox1" class="form-check-input">
                        <label class="form-check-label" for="checkbox1" required>Acepto la <a href="https://www.samsung.com/pe/info/privacy/" target="_blank">POLÍTICA DE PRIVACIDAD (*)</a></label>
                    </div>
                    <div class=" col-md-12 col-lg-4 form-group custom">
                        <input required [(ngModel)]="acceptedTermsOfService" name="acceptedTermsOfService" type="checkbox" id="checkbox2" class="form-check-input">
                        <label class="form-check-label" for="checkbox2" required>Acepto los <a href="assets/TERMINOS_Y_CONDICIONES_DIGITAL LAUNCH_Vf.pdf" target="_blank">TÉRMINOS Y CONDICIONES (*)</a></label>
                    </div>
                    <div class=" col-md-12 col-lg-4 form-group custom">
                        <input [(ngModel)]="marketingOptIn" name="marketingOptIn" type="checkbox" id="checkbox3" class="form-check-input">
                        <label class="form-check-label" for="checkbox3">Deseo recibir información de Samsung</label>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                    </div>
                    <div class="col-md-6 form-group text-center">
                        <button class="btn" type="submit" id="submitBtn" *ngIf="!submiting">ENVIAR</button>
                        <div class="spinner-border" role="status" *ngIf="submiting" style="margin-top: 40px;">
                            <span class="sr-only">Loading</span>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                    </div>
                </div>
            </div>
        </form>
        <br><br>
    </div>
</section>
<ng-template #templateSuccess>
    <button class="gb-gnb__cart-empty-close js-cart-close" type="button" (click)="bsModalRef.hide()"></button>
    <div class="layer_popup">
        <div class="popup-nextgen-type popAlign">
          <div class="popup_wrap">
            <p class="successText"><b>¡Tu registro ha sido  un éxito!</b></p>
                <img src="assets/img/group.png" class="successImg">
            </div>
        </div>
      </div>
</ng-template>
<!-- Modal retailers S20 -->
<ng-template #templateRetailers3>
    <button class="gb-gnb__cart-empty-close js-cart-close" type="button" (click)="bsModalRef.hide()"></button>
    <div class="layer_popup">
        <div class="popup-nextgen-type popAlign">
        <div class="popup_wrap2 logos">
            <p class="successText"><b>Encuentra tu Galaxy S20 en</b></p>
                <div class="row">
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/claro.png">
                        <a href="https://tiendaclaro.pe/equipo/35176/samsung/galaxy-s20" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/entel.png">
                        <a href="https://www.entel.pe/renovacion-samsung-s20-tiendas/samsung-s20/" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/movistar.png">
                        <a href="https://catalogo.movistar.com.pe/samsung-galaxy-s20?p=plan-ilimitado-mi-movistar-s-6590-65.90-22-242-1" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/plazavea.png">
                        <a href="https://tienda.plazavea.com.pe/smartphone-samsung-galaxy-s20-6-2--128gb-10mp-gris/p" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/hiroaka.png">
                        <a href="https://hiraoka.com.pe/celular-libre-samsung-s20-sm-g980fzalpeo" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/samsung.png">
                        <a href="https://shop.samsung.com.pe/reconectate-con-tu-mundo" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/samsung-ee.png">
                        <a href="https://www.samsung.com/pe/samsung-experience-store/locations/" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</ng-template>
<!-- Modal retailers S20+ -->
<ng-template #templateRetailers4>
    <button class="gb-gnb__cart-empty-close js-cart-close" type="button" (click)="bsModalRef.hide()"></button>
    <div class="layer_popup">
        <div class="popup-nextgen-type popAlign">
        <div class="popup_wrap2 logos">
            <p class="successText"><b>Encuentra tu Galaxy S20+ en</b></p>
                <div class="row">
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/samsung-bts.png">
                        <a href="https://shop.samsung.com.pe/preventa-bts" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/entel.png">
                        <a href="https://www.entel.pe/renovacion-samsung-s20-tiendas/samsung-s20-plus/" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/movistar.png">
                        <a href="https://catalogo.movistar.com.pe/samsung-galaxy-s20-plus?p=plan-ilimitado-mi-movistar-s-6590-65.90-22-242-1" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/oe.png">
                        <a href="https://www.oechsle.pe/galaxy-s20-128gb-black-1659235/p" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/samsung.png">
                        <a href="https://shop.samsung.com.pe/reconectate-con-tu-mundo" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/samsung-ee.png">
                        <a href="https://www.samsung.com/pe/samsung-experience-store/locations/" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</ng-template>
<!-- Modal retailers S20 ULTRA -->
<ng-template #templateRetailers1>
    <button class="gb-gnb__cart-empty-close js-cart-close" type="button" (click)="bsModalRef.hide()"></button>
    <div class="layer_popup">
        <div class="popup-nextgen-type popAlign">
        <div class="popup_wrap2 logos">
            <p class="successText"><b>Encuentra tu Galaxy S20 Ultra en</b></p>
                <div class="row">
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/entel.png">
                        <a targer="_blank" href="https://www.entel.pe/renovacion-samsung-s20-tiendas/samsung-s20-ultra/" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/movistar.png">
                        <a href="https://catalogo.movistar.com.pe/samsung-galaxy-s20-ultra?p=plan-ilimitado-mi-movistar-s-6590-65.90-22-242-1" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/hiroaka.png">
                        <a href="https://hiraoka.com.pe/celular-libre-samsung-s20-ultra-sm-g988bza2peo" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/samsung.png">
                        <a href="https://shop.samsung.com.pe/reconectate-con-tu-mundo" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                </div>   
                <div class="row">
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/samsung-ee.png">
                        <a href="https://www.samsung.com/pe/samsung-experience-store/locations/" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    
                </div>     
            </div>
        </div>
    </div>
</ng-template>
<!-- Modal retailers Z FLIP -->
<ng-template #templateRetailers2>
    <button class="gb-gnb__cart-empty-close js-cart-close" type="button" (click)="bsModalRef.hide()"></button>
    <div class="layer_popup">
        <div class="popup-nextgen-type popAlign">
        <div class="popup_wrap2 logos">
            <p class="successText"><b>Encuentra tu Galaxy Z Flip en</b></p>
                <div class="row">
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/hiroaka.png">
                        <a href="https://hiraoka.com.pe/celular-libre-samsung-galaxy-z-flip-sm-f700fzkdpeo-negro" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/oe.png">
                        <a href="https://www.oechsle.pe/samsung-galaxy-z-flip-6-7-256gb-morado-1699290/p" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/plazavea.png">
                        <a href="https://tienda.plazavea.com.pe/smartphone-samsung-galaxy-z-flip-6-7-256gb-10mp-morado/p" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/samsung.png">
                        <a href="https://shop.samsung.com.pe/reconectate-con-tu-mundo" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                </div>      
                <div class="row">
                    <div class="col-md-3"><div class="box">
                        <img src="assets/logos/samsung-ee.png">
                        <a href="https://www.samsung.com/pe/samsung-experience-store/locations/" class="shop" target="_blank">Ir a la tienda ></a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</ng-template>
