html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
.slick-dots li button:before {
  width: 12px!important;
  height: 12px!important;
}
.masthead {
  height: 580px;
  background-color: #000;
  background-image: url(/galaxy2020/assets/img/Hero.png);
  background-size: 100%;
  background-position: right;
  background-repeat: no-repeat;
  color: #fff;
}
input[type="button"]{
  outline:none!important;
  outline-style: none!important;
}
.boxCard{
  display: none;
}
input[type="button"]::-moz-focus-inner {
  border: 0!important;
  outline-style: none!important;
}
#contador{
  display: none;
}
#sorteo{
  display: none;
}
button:focus {
  border: none;
  border: none!important;
  outline: none!important;
  outline-style: none!important;
}
.modal {
  z-index: 9000!important;
}
.masthead2{
  background-color: #fff!important;
  background-image: url(/galaxy2020/assets/img/Hero2.png);
}
.masthead2{
  margin-top: 20vh;
}
.masthead .btn{
  border-radius: 40px;
  padding: 15px 40px;
  border: 1px solid #fff;
  text-transform: uppercase;
  background: #fff;
  font-weight: 700;
  margin-right: 20px;
  margin-top: 20px;
  float: left;
}
.masthead .play{
  position: absolute;
  top: 35vh;
  width: 80px;
  left: 60%;
  cursor: pointer;
  z-index: 9;
}
.masthead .btn:hover{
  color: #000;
  text-decoration: underline;
}
.masthead .white:hover{
  color: #fff;
  text-decoration: underline;
}
.masthead .btn:active, .masthead .btn:focus{
  outline: 0;
}
.masthead .white{
  background: transparent;
  color: #fff;
  float: left;
  clear: left;
}
.masthead {
  margin-bottom: 40px;
}
body {
	line-height: 1;
}
ol, ul {
  list-style: none;
  margin-bottom: 0px!important;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Samsung Sharp Sans Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Samsung Sharp Sans Regular'), url('/galaxy2020/assets/fonts/samsungsharpsans.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Samsung Sharp Sans Medium';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Samsung Sharp Sans Medium'), url('/galaxy2020/assets/fonts/samsungsharpsans-medium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Samsung Sharp Sans Bold';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Samsung Sharp Sans Bold'), url('/galaxy2020/assets/fonts/samsungsharpsans-bold.woff') format('woff');
  }

@font-face {
  font-family: "SamsungOne";
  src: url(/galaxy2020/assets/fonts/SamsungOne-400.eot);
  src: url(/galaxy2020/assets/fonts/SamsungOne-400.eot?#iefix) format("embedded-opentype"), url(/galaxy2020/assets/fonts/SamsungOne-400.woff2) format("woff2"), url(/galaxy2020/assets/fonts/SamsungOne-400.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.text-center {
  text-align: center;
}
.g-recaptcha {
  display: inline-block;
}
#ngrecaptcha-0, #ngrecaptcha-1{
  margin: auto;
  display: table;
}
.textcentermobile{
  text-align: left;
}
.modal{
  z-index: 99999999999999;
}

@font-face {
  font-family: "SamsungOne";
  src: url(/galaxy2020/assets/fonts/SamsungOne-700.eot);
  src: url(/galaxy2020/assets/fonts/SamsungOne-700.eot?#iefix) format("embedded-opentype"), url(/galaxy2020/assets/fonts/SamsungOne-700.woff2) format("woff2"), url(/galaxy2020/assets/fonts/SamsungOne-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body{
  font-family: "SamsungOne";
}
.text {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 16px!important;
}
.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after{
  left: 110px!important;
}
.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before{
  left: 110px!important;
}
.text2{
  padding: 50px 0px 0px 0px!important;
  font-size: 16px!important;
  width: 100%;
  text-align: center;
  margin: auto;
  font-weight: 600;
}
.angle-content{
  width: 50%;
  background: #222222;
  transform: skewX(21deg);
  position: absolute;
  height: 100vh;
  top: 0px;
  right: -20%;
}
.flipdown .rotor {
  margin: 0px 0px 0px 0px;
}
.angle-content img{
  transform: none!important;
}
.text {
  font-weight: 600;
}
.masthead2 h1{
  color: #000;
}
.masthead2 h1{
  font-family: "Samsung Sharp Sans Regular"!important;
}
.masthead2 h1 b{
  font-family: "Samsung Sharp Sans Medium"!important;
}
.masthead2 .lead{
  color: #000;
}
.masthead2 .btn {
  color: #000!important;
  border-radius: 0px!important;
  border: 0px!important;
  border-bottom: 1px solid #000!important;
  font-weight: normal;
}
.hero-img{
  position: absolute;
  right: 11%;
  width: 40%;
  top: 15%;
}
.divider{
  font-size: 80px;
  position: relative;
  top: -105px;
  left: 0px;
  color: white;
  float: right!important;
  width: 10px;
  height: 10px;
}
.measurements-text{
  text-transform: uppercase;
  font-size: 14px!important;
  font-weight: 200;
}
.btn-container{
  width: 60%;
  margin: auto;
  padding: 0px;
  overflow: hidden;
}
.input-s20{
  padding: 25px;
  border:0px;
  height: 40px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 75%;
  float: left;
  background: #F5E0EA;
}
.input-s20:focus, .input-s20-btn:focus {
  outline:0;
}
.input-s20-btn:hover {
  background: #FCF7F9;
}
.flipdown.flipdown__theme-dark .rotor-group-heading:before {
  color: #000000;
  text-transform: uppercase;
  font-weight: 200;
}
.grecaptcha-badge {
  bottom: 0px;
  position: absolute!important;
  z-index: 99999999999!important;
}
.input-s20-btn{
  background-color: #FFF;
  padding: 25px;
  border:0px;
  height: 40px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 25%;
  float: right;
  line-height: 0px;
  text-transform: uppercase;
  mix-blend-mode: multiply;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.cd-hero__slider {
  position: relative;
  width: 100%;
  height: fit-content;
}
.cd-hero__slide {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  will-change: transform;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-hero__slide.cd-hero__slide--selected {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.cd-hero__slide.cd-hero__slide--move-left {
  /* slide hidden on the left */
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.cd-hero__slide.cd-hero__slide--is-moving,
.cd-hero__slide.cd-hero__slide--selected {
  /* the cd-hero__slide--is-moving class is assigned to the slide which is moving outside the viewport */
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.flipdown.flipdown__theme-dark .rotor, .flipdown.flipdown__theme-dark .rotor-top, .flipdown.flipdown__theme-dark .rotor-leaf-front {
  color: #000;
  background-color: rgba(255,255,255,1);
}
.flipdown.flipdown__theme-dark .rotor-bottom, .flipdown.flipdown__theme-dark .rotor-leaf-rear {
  color: #000;
  background-color: rgba(252,247,249,1);
}
.flipdown.flipdown__theme-dark .rotor:after {
  border-top: solid 1px transparent;
}
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before, .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  background-color: #fff;
}
.rotor-group-heading{
  position: relative;
  top: 100px;
}
.flipdown.flipdown__theme-dark {
  font-family: "SamsungOne"!important;
  font-weight: 700;
  margin: auto;
  font-variant: normal;
  -webkit-font-smoothing:unset;
}
.rotor-group{
  top:-15px;
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .masthead .play {
      position: absolute;
      top: 25vh;
    }
}

@media screen and (min-device-width : 601px) and (max-device-width :970px) {
  .masthead .play {
    position: absolute;
    top: 25vh;
  }
}



@media only screen and (max-width: 960px) {
  .boxCard {
    height: 600px!important;
  }
  .boxCard img{
    max-width: 450px;
  }
  .sorteo h3 br{
    display: none;
  }
  .card-link{
    top: -50px!important;
    font-size: 9px!important;
  }
  .sorteo .banner{
    height: 30vh!important;
  }
  .sorteo .banner {
    height: 40vh!important;
    margin: 40px -50px!important;
  }
  .sorteo .banner .tv {
    width: 48%!important;
    position: absolute!important;
    top: -37px!important;
    left: 0px!important;
  }
  .sorteo .banner .text{
    margin-left: 43%!important;
    position: relative;
    top: 0vh;
  }
  .sorteo .banner .btn {
    margin-top: 15px!important;
  }
  .sorteo .banner .text b{
    font-size: 18px!important;
  }
  .sorteo .banner .btn{
    margin-left: 33vw;
  }
}

/* TABLET */
@media only screen and (min-width: 768px) {
  html, body{
    overflow-x: hidden;
  }
  .masthead .btn:first-child {
    margin-left:20%;
  }  
  .show-web{
    display: block;
    margin: auto;
    padding: 40px;
  }
  .show-mobile{
    display: none;
    margin: auto;
    padding: 40px;
  }  
}

/* Slide style */
.cd-hero__slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cd-hero__slide:first-of-type {
  background-color: #FFF0F8;
  overflow: hidden;
  display: contents;
}

.cd-hero__slide:nth-of-type(2) {
  background-color: #FFF0F8;
}

.cd-hero__content.cd-hero__content--full-width,
.cd-hero__content.cd-hero__content--half-width {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x:hidden;
  padding-bottom: 10vh;
  overflow: hidden;
  /* this padding is used to align the text */
  padding-top: 100px;
  text-align: center;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.cd-hero__content h2, .cd-hero__content p, .cd-hero__btn, .cd-hero__content--img img {
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

.cd-hero__content.cd-hero__content--img {
  /* hide image on mobile device */
  display: none;
}
.fullscreenYT{
  width: 100%;
  margin: auto;
  padding: 10px;
  max-width: 50px;
}
.playYT{
  width: 100%;
  margin: auto;
  padding: 10px;
  max-width: 50px;
}
.pauseYT{
  width: 100%;
  margin: auto;
  padding: 10px;
  max-width: 50px;
}
.cd-hero__content--img img {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.cd-hero__content.cd-hero__content--bg-video {
  /* hide video on mobile device */
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cd-hero__content--bg-video video {
  /* you won't see this element in the html, but it will be injected using javascript */
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}


@media only screen and (min-width: 768px) {
  .cd-hero__slide:nth-of-type(2),
  .cd-hero__slide:nth-of-type(3),
  .cd-hero__slide:nth-of-type(4) {
    background-image: none;
  }
  .cd-hero__content.cd-hero__content--full-width,
  .cd-hero__content.cd-hero__content--half-width {
    padding-top: 10vh;
  }
  .cd-hero__content.cd-hero__content--bg-video {
    display: block;
  }
  .cd-hero__content.cd-hero__content--half-width {
    width: 45%;
  }
  .cd-hero__content.cd-hero__content--half-width:first-of-type {
    left: 5%;
  }
  .cd-hero__content.cd-hero__content--half-width:nth-of-type(2) {
    right: 5%;
    left: auto;
  }
  .cd-hero__content.cd-hero__content--img {
    display: block;
  }
  .cd-hero__content h2, .cd-hero__content p {
    max-width: 520px;
  }
  .cd-hero__content h2 {
    font-size: 2.4em;
    font-weight: 300;
  }
  .cd-hero__btn {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-hero__content.cd-hero__content--full-width,
  .cd-hero__content.cd-hero__content--half-width {
    padding-top: 15vh;
    padding-right: 40%;
  }
  .cd-hero__content h2, .cd-hero__content p {
    margin-bottom: 15px;
  }
  .cd-hero__content h2 {
    font-size: 3.2em;
  }
  .cd-hero__content p {
    font-size: 1.6rem;
  }
}

/* Single slide animation */
@media only screen and (min-width: 768px) {
  .cd-hero__content.cd-hero__content--half-width {
    opacity: 0;
    -webkit-transform: translateX(40px);
        -ms-transform: translateX(40px);
            transform: translateX(40px);
  }
  .cd-hero__slide--move-left .cd-hero__content.cd-hero__content--half-width {
    -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  .cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width {
    /* this is the visible slide */
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .cd-hero__slide--is-moving .cd-hero__content.cd-hero__content--half-width {
    /* this is the slide moving outside the viewport 
    wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
    -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s, -webkit-transform 0s 0.5s;
  }
  .cd-hero__slide--from-left.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:nth-of-type(2),
  .cd-hero__slide--from-right.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:first-of-type {
    /* this is the selected slide - different animation if it's entering from left or right */
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s, -webkit-transform 0.5s 0.2s;
  }
  .cd-hero__slide--from-left.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:first-of-type,
  .cd-hero__slide--from-right.cd-hero__slide--selected .cd-hero__content.cd-hero__content--half-width:nth-of-type(2) {
    /* this is the selected slide - different animation if it's entering from left or right */
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, -webkit-transform 0.5s 0.4s;
  }
  .cd-hero__content--full-width h2,
  .cd-hero__content--full-width p,
  .cd-hero__content--full-width .cd-hero__btn {
    -webkit-transform: translateX(100px);
        -ms-transform: translateX(100px);
            transform: translateX(100px);
  }
  .cd-hero__slide--move-left .cd-hero__content--full-width h2,
  .cd-hero__slide--move-left .cd-hero__content--full-width p,
  .cd-hero__slide--move-left .cd-hero__content--full-width .cd-hero__btn {
    -webkit-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  .cd-hero__slide--selected .cd-hero__content--full-width h2,
  .cd-hero__slide--selected .cd-hero__content--full-width p,
  .cd-hero__slide--selected .cd-hero__content--full-width .cd-hero__btn {
    /* this is the visible slide */
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .cd-hero__slide--is-moving .cd-hero__content--full-width h2,
  .cd-hero__slide--is-moving .cd-hero__content--full-width p,
  .cd-hero__slide--is-moving .cd-hero__content--full-width .cd-hero__btn {
    /* this is the slide moving outside the viewport 
    wait for the end of the transition on the li parent before set translate to 100px/-100px */
    -webkit-transition: -webkit-transform 0s 0.5s;
    transition: -webkit-transform 0s 0.5s;
    transition: transform 0s 0.5s;
    transition: transform 0s 0.5s, -webkit-transform 0s 0.5s;
  }
  .cd-hero__slide--selected h2 {
    -webkit-transition: -webkit-transform 0.5s 0.2s;
    transition: -webkit-transform 0.5s 0.2s;
    transition: transform 0.5s 0.2s;
    transition: transform 0.5s 0.2s, -webkit-transform 0.5s 0.2s;
  }
  .cd-hero__slide--selected p {
    -webkit-transition: -webkit-transform 0.5s 0.3s;
    transition: -webkit-transform 0.5s 0.3s;
    transition: transform 0.5s 0.3s;
    transition: transform 0.5s 0.3s, -webkit-transform 0.5s 0.3s;
  }
  .cd-hero__slide--selected .cd-hero__btn {
    -webkit-transition: background-color 0.2s 0s, -webkit-transform 0.5s 0.4s;
    transition: background-color 0.2s 0s, -webkit-transform 0.5s 0.4s;
    transition: transform 0.5s 0.4s, background-color 0.2s 0s;
    transition: transform 0.5s 0.4s, background-color 0.2s 0s, -webkit-transform 0.5s 0.4s;
  }
}

/* Slider navigation */
.cd-hero__nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  text-align: center;
  height: 55px;
  background-color: rgba(0, 1, 1, 0.5);
}

.cd-hero__nav nav, .cd-hero__nav ul, .cd-hero__nav li, .cd-hero__nav a {
  height: 100%;
}

.cd-hero__nav nav {
  display: inline-block;
  position: relative;
}

.cd-hero__marker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100%;
  color: #d44457;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 2px 0 currentColor;
          box-shadow: inset 0 2px 0 currentColor;
  -webkit-transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s, -webkit-box-shadow 0.2s;
}

.cd-hero__marker.cd-hero__marker--item-2 {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.cd-hero__marker.cd-hero__marker--item-3 {
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
}

.cd-hero__marker.cd-hero__marker--item-4 {
  -webkit-transform: translateX(300%);
      -ms-transform: translateX(300%);
          transform: translateX(300%);
}

.cd-hero__marker.cd-hero__marker--item-5 {
  -webkit-transform: translateX(400%);
      -ms-transform: translateX(400%);
          transform: translateX(400%);
}

.cd-hero__nav ul::after {
  clear: both;
  content: "";
  display: table;
}

.cd-hero__nav li {
  display: inline-block;
  width: 60px;
  float: left;
}

.cd-hero__nav .cd-selected a {
  color: #2c343b;
}

.cd-hero__nav .cd-selected a:hover {
  background-color: transparent;
}

.cd-hero__nav a {
  display: block;
  position: relative;
  padding-top: 35px;
  font-size: 1rem;
  font-weight: 700;
  color: #a8b4be;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-hero__nav a:hover {
  background-color: rgba(0, 1, 1, 0.5);
}

.cd-hero__nav li:first-of-type a::before {
  background-position: 0 0;
}

.cd-hero__nav li.cd-selected:first-of-type a::before {
  background-position: 0 -24px;
}

/* Main Content */
.cd-main-content {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  padding: 2em 0;
}

.cd-main-content p {
  font-size: 1.4rem;
  line-height: 1.8;
  color: #999999;
  margin: 2em 0;
}

/* TABLETS */
@media only screen and (min-width: 768px) and (max-width: 1170px){
  .btn-container{
    width: 100%;
    padding-top: 10px;
  }
  .footer{
    display: none;
  }
  .promo-s20-container{
    margin: 0px 5% 20px 5%;
    background:  rgba(255, 247, 251, 0.8);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    z-index: 100;
    margin-top: 5vh;
  }
  input[type=checkbox]{
    width: 20px!important;
    height: 20px!important;
  }
  .show-web{
    display: none;
    margin: auto;
    padding: 30px;
  }
  .show-mobile{
    display: block;
    margin: auto;
    padding: 40px;
    z-index: 100;
    position: relative;
    width: 60%;
  }
  .angle-content {
    width: 91%;
    background: #222222;
    transform: skewX(21deg);
    position: absolute;
    height: 100%;
    top: 0px;
    right: -45%;
  }
  p.measurements-number {
    padding: 10px;
    font-weight: 800;
    height: 80px;
    width: 80px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(252,247,249,1) 50%);
    border-radius: 10px;
    line-height: 60px;
    font-size: 55px!important;
    margin: 10px 10px;
  }
  .divider{
    font-size: 70px;
    position: relative;
    top: -90px;
    left: 0px;
    color: white;
    float: right!important;
    width: 10px;
    height: 10px;
  }
  .cd-hero__content.cd-hero__content--full-width, .cd-hero__content.cd-hero__content--half-width{
    padding-top: 0px;
    position: relative;
  }
  .hero-img {
    position: relative;
    right: 3vw;
    width: 58%;
    margin-top: 0%;
  }
}

.videoPlayer{
  background-color: #000;
  width: 60%;
  height: 580px;
  right: 0px;
  top: 64px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  z-index: 0;
}

.is-sticky.videoPlayer iframe {
  width: 100%!important;
}

*:focus {outline:none !important}
button:focus, button:active {outline:0!important;}
.btn:focus, .btn:active {outline:0!important;}

.masthead2 .btn{
  position: relative;
  top: -370px;
  left: 20vw;
}

.actions{
  display: none;
}

.popup_wrap_terms {
  text-align: center;
  padding: 5vw;
  text-align: justify;
}


/* CELULARES */
@media only screen and (max-width: 768px) {
  .container, .container-sm {
    max-width: 100%!important;
  }
  .container.h-100{
    max-width: 98%!important;
  }
  .masthead h1 {
    text-align: center;
    font-size: 28px!important;
  }
  .is-sticky.videoPlayer iframe{
    width: 60%!important;
  }
  .masthead{
    background-size: cover!important;
  }
  .grecaptcha-badge {
    visibility: hidden;
  }
  .sorteo .grecaptcha-badge {
    visibility: visible!important;
  }
  .masthead .btn{
    float: none!important;
    clear: none!important;
  }
  body, html{
    overflow-x: hidden;
  }
  .videoPlayer{
    width: 100%;
    left: 0px;
    height: 250px!important;
    position: absolute!important;
    top: 50vh!important;
    z-index: 9999!important;
  }
  .is-sticky{
    position: fixed!important;
    width: 100%!important;
  }
  .videoPlayer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%;
 }
 .hide-mobile{
   display: none!important;
 }
 .boxCard{
   display: block;
 }
 .modal-footer {

  width: 100%;
  }
  
  .is-sticky .actions{
    visibility:visible!important;
  }

  .actions .btn{
    display: table-cell;
    vertical-align: middle;
    float: left;
  }

  .ytp-title-text, .ytp-title{
    display: none!important;
  }

 .actions {
   visibility: hidden;
    width: 40%;
    float: right;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #000;
    text-align: center;
    position: relative;
  }
  .noBorder{
    border:0px!important;
  }
  .actions .nv-button-full {
    width: 100%;
    margin: auto;
}
.controls-video-style{
  padding: 0px!important;
  margin: 0px;
  height: 100%;
  width: 100%;
  display: block!important;
}
.actions .js-play button {
  background: #4C4C4C;
  color: #fff;
  overflow: hidden;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 30%;
  margin: 10%;
  margin: auto 10px;
}
  .sorteo .banner {
    height: 45vh!important;
    margin: 40px -50px!important;
  }
  .sorteo .banner .tv {
    width: 48%!important;
    position: absolute!important;
    top: 0px!important;
    left: 0px!important;
  }
  .sorteo .banner .text{
    margin-left: 43%!important;
    position: relative;
    top: 0vh;
  }
  .sorteo .banner .btn {
    margin-top: 15px!important;
  }
  .sorteo .banner .text b{
    font-size: 18px!important;
  }
  .sorteo .banner .btn{
    margin-left: 33vw;
  }
  .card-link{
    font-size: 20px!important;
    top: -12vh!important;
  }
  .form-group {
    margin-bottom: 2rem!important;
  }
  .sorteo .form .custom label{
    width: 85%!important;
    margin-left: 35px!important;
  }
  .successImg{
    width: 100%!important;
    padding: 0px;
    margin: auto;
  }
  .sorteo .banner .btn{
    margin-bottom: 25px;
  }
  .sorteo .form .row{
    padding: 0px!important;
  }
  .sorteo h3{
    font-size: 22px!important;
  }
  .sorteo h3{
    font-size: 22px!important;
  }
  .sorteo h4 {
    padding: 15px 0px!important;
    font-size: 14px!important;
}
  .sorteo .form input[type=text], .sorteo .form select {
    border: 1px solid #575F65;
    height: 50px;
  }
  .sorteo .form select {
    background-position-y: 12px!important;
  }
  .masthead {
    height: 75vh;
    background-color: #000;
    background-image: url(/galaxy2020/assets/img/Hero-mobile.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
  }
  .text-left{
    height: 100%;
    padding: 8vh 20px;
  }
  .masthead h1{
    text-align: center;
    font-size: 44px!important;
  }
  .masthead h1 br {
    display: none;
  }
  .sorteo h3 br {
    display: none;
  }
  .lead{
    text-align: center;
    font-size: 20px!important;
    padding-bottom: 0vh;
  }
  .masthead .btn{
    width: 100%;
  }
  .masthead .btn {
    width: 42%;
    margin: 0px 2% 0px 5%;
    padding: 10px;
    margin-bottom: 55vh;
  }
  .arrow{
    display: none;
  }
  .masthead{
    height: 90vh;
  }
  .masthead .play {
    position: absolute;
    top: 48vh;
    width: 80px;
    height: 80px;
    left: 44%;
    cursor: pointer;
    z-index: 9;
    margin: auto;
  }
  .popup_wrap {
    text-align: center;
    padding: 15vh 0px!important;
  }
  .btn-container{
    width: 100%;
  }
  .text2 {
    margin-bottom: 20px;
    padding: 20px 0px 0px 0px!important;
    font-size: 13px!important;
  }
  .footer{
    display: none;
  }
  .promo-s20-container{
    margin: 0px 0px 50px 0px;
    background:  rgba(255, 247, 251, 0.8);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    z-index: 100;
    margin-top: -10vh;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
  }
  .show-web{
    display: none;
    margin: auto;
    padding: 30px;
  }
  .show-mobile{
    display: block;
    margin: auto;
    padding: 40px 10px;
    z-index: 100;
    position: relative;
    width: 78%;
    padding-bottom: 90px;
  } 
  .angle-content {
    width: 86%;
    background: #222222;
    transform: skewX(21deg);
    position: absolute;
    height: 100%!important;
    top: 0px;
    right: -45%;
  }
  .divider{
    font-size: 70px;
    position: relative;
    top: -90px;
    left: 0px;
    color: white;
    float: right!important;
    width: 10px;
    height: 10px;
  }
  .cd-hero__content.cd-hero__content--full-width, .cd-hero__content.cd-hero__content--half-width{
    padding-top: 0px;
    overflow-x:hidden;
    height: unset;
  }
  .hero-img {
    position: relative;
    right: 5vw;
    width: 80%;
    margin-top: -22%;
    margin-bottom: 15%;
  }
  .flipdown .rotor-group {
    padding-right: 15px;
    margin: 7px;
  }
  .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before, .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after{
    display: none;
  }
}

.premios{
  width: 100%;
}


@media (max-width: 650px){
  .masthead h1 {
    text-align: center;
    font-size: 28px!important;
  }
  .lead {
    text-align: center;
    font-size: 14px!important;
    padding-bottom: 0vh;
 }
 .videoPlayer {
    top: 33vh!important;
  }
  .textcentermobile{
    text-align: center!important;
  }
  input[type=checkbox]{
    width: 20px!important;
    height: 20px!important;
  }
  .tooltipInput .tooltiptext {
    left: -250%!important;
  }
  .card-link {
    font-size: 14px!important;
    top: -12vh!important;
  }
  .masthead .btn {
    width: 80%;
    margin: 10px 0px;
    padding: 10px;
    font-size: 12px;
  }
  .sorteo h1{
    font-family: "Samsung Sharp Sans Regular"!important;
    font-style: normal!important;
    font-weight: 600!important;
    font-size: 22px!important;
    line-height: 120%!important;
    /* identical to box height, or 26px */
    text-align: center!important;
    align-items: center;
    text-align: center;

    color: #404040;
  }
  .sorteo h2{
    font-size: 16px!important;
  }
  .sorteo .form .custom label {
    margin-left: 0px!important;
  }
  .masthead .play {
    width: 40px;
    height: 40px;
  }
  .sorteo .banner{
    height: 65vh!important;
  }
  .sorteo .banner .tv{
    top: -20px!important;
    position: relative!important;
  }
  .sorteo .banner .text {
    font-size: 22px!important;
    margin: 0px!important;
    text-align: center!important;
  }

  .lead{
      text-align: center;
      padding-bottom: 50vh!important;
  }
  .modal-lg {
    margin: auto!important;
    top: 5vh!important;
    max-width: 80vw!important;
  }
  .popup_wrap2 {
    text-align: center;
    padding: 8vw!important;
  }
  .input-s20-btn {
    padding: 25px 0px;
  }
  .input-s20 {
    width: 100%;
    border-radius:50px;
  }
  .input-s20-btn {
    background: url(/galaxy2020/assets/img/arrow.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 13px center;
    text-indent: -2000000px;
    width: 15%;
    margin-left: -15%;
    position: relative;
  }
  .input-s20-btn:hover {
    background: url(/galaxy2020/assets/img/arrow.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 13px center;
    text-indent: -2000000px;
    width: 15%;
    margin-left: -15%;
    position: relative;
  }
  .sorteo .banner .btn{
    margin: 20px 0px;
    margin-bottom: 20px;
  }
  .rotor-group-heading{
    position: relative;
    top: 75px!important;
  }
  .rotor-group{
    top:-15px!important;
  }
  .flipdown .rotor-group-heading:before {
    font-size: 0.5rem;
  }
  .flipdown {
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 411px){
  .sorteo .banner .tv {
    width: 50%!important;
    position: relative;
    top: 10px!important;
    margin: auto!important;
    left: 0px!important;
  }
  .sorteo .banner {
    margin: 70px -15px!important;
    height: 56vh!important;
  }
  .sorteo .banner .text{
    margin-top: 35px!important;
  }
  .card-link {
    font-size: 14px!important;
    top: -70px!important;
  }
  .flipdown {
    padding-bottom: 80px!important;
  }
  .promo-s20-container{
    top: 5vh;
  }
  .tooltipInput .tooltiptext{
    left:-250%!important;
  }
  .rotor-group{
    margin: 7px!important;
  }
  .rotor-group-heading {
    top: 60px!important;
  }
  .text2 {
    padding: 25px 0px 0px 0px!important;
    font-size: 12px!important;
  }
  .rotor-group-heading{
    position: relative;
    top: 60px!important;
  }
  .rotor-group{
    top:-10px!important;
  }
  .flipdown .rotor-group {
    padding-right: 10px;
  }
  .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before, .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after{
    display: none;
  }
}

@media only screen and (max-width: 360px){
  .sorteo .banner .text {
    font-size: 16px!important;
    margin: 0px!important;
  }
  .boxCard {
    height: 350px!important;
  }
  .masthead h1 {
    text-align: center;
    font-size: 20px!important;
  }
  .sorteo .banner .text b {
    font-size: 16px!important;
  }
  .rotor-group .rotor:last-child{
    left:-5px!important;
  }
  .rotor-group{
    margin: 7px!important;
  }
  .divider {
    font-size: 55px;
    position: relative;
    top: -69px;
    left: 0px;
    color: white;
    float: right!important;
    width: 10px;
    height: 10px;
  }
  .input-s20-btn {
    padding: 5px;
  }
  .rotor-group-heading{
    position: relative;
    top: 60px!important;
  }
  .rotor-group{
    top:-10px!important;
  }
  .flipdown .rotor-group {
    padding: 2px;
  }
  .text2 {
    padding: 20px 0px 0px 0px!important;
  }
  .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before, .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after{
    display: none;
  }
  .input-s20 {
    padding: 20px;
  }
  .text {
    font-size: 12px!important;
  }
  .text2 {
    font-size: 10px!important;
  }
  .flipdown {
    padding-bottom: 80px;
  }
}

@media only screen and (max-width: 329px){
  .promo-s20-container{ 
      background: rgba(255, 247, 251, 0.8);
      border-radius: 20px;
      padding: 10px 5px;
      position: relative;
      z-index: 100;
      margin-top: -5vh;
  }
  .rotor-group .rotor:last-child{
    left:-8px;
  }
  .text {
    font-size: 12px!important;
  }
  .text2 {
    font-size: 10px!important;
  }
}
.rotor{
  font-family: "SamsungOne"!important;
  font-weight: 700!important;
  font-style: normal!important;
  line-height: 80px!important;
}
.flipdown{
  padding-bottom: 120px;
}
.rotor-group{
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(252,247,249,1) 50%);
  padding: 2px!important;
  margin: 0px;
  border-radius: 10px;
  position: relative;
  float: left;
  margin: 10px;
}
.rotor{
  top: -20px;
  margin-bottom: -20px!important;
}
#content{
  display: block;
}

.content-body{
  width:100%;
  text-align:center;
}
.heroBg{
  background-color: #FFF0F8;
}

@media only screen and (max-width: 375px){
  .angle-content {
    width: 87%;
  }
}
.error{
  color:red!important;
}
.if-js-enabled{
  display: none;
}

.modal-lg{
  padding: 0px;
  margin: 0px;
  top: 5vh;
  margin: 20vh;
  max-width: 60vw!important;
}
.modal{
  opacity: 1;
}
.successText{
  text-align: center;
  padding: 40px 20px;
  margin: 0px!important;
  font-family: SamsungOne;
  font-size: 24px!important;
}
.popup_wrap{
  text-align: center;
  padding: 20vh;
}
.successImg{
  width: 80%;
  padding: 0px;
  margin: auto;
}
.successText{
  text-align: center;
}
.modal-content{
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
.sleep-video {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: -20;
}

.videoPlayer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sorteo h1{
  padding-top: 40px;
  font-family: "Samsung Sharp Sans Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
}

.sorteo h2{
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 136%;
  align-items: center;
  letter-spacing: -0.01em;
  color: #404040;
  padding-bottom: 40px;
}
.animate-pop-in {
  animation: pop-in .6s ease-out forwards
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.masthead h1{
  font-family: "Samsung Sharp Sans Medium";
  font-style: normal;
  font-weight: 666;
  font-size: 52px;
  line-height: 100%;
}
.slider .card {
  padding: 0px;
  width: 100%;
  margin: auto;
  border: 0px;
  cursor: pointer;
}
.font-weight-bold{
  animation-delay: 1s;
}
.lead{
  animation-delay: 1.2s;
}
.btn{
  animation-delay: 1.4s;
}
.arrow-first {
  animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-second {
  animation: arrow-movement 2s 1s ease-in-out infinite;
}
.arrow:before,
.arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px; 
  position: absolute;
      top: 0;
      left: 0;
  width: 30px;
}
.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}
.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}
.info-input{
  float: left;
  width: 90%!important;
}
.info-img{
  float: left;
  width: 45px;
  padding: 6px;
}
.tooltipInput {
  top: 30px;
  position: relative;
  display: inline-block;
  bottom: 0px;
  width: 10%;
}

/* Tooltip text */
.tooltipInput .tooltiptext {
  visibility: hidden;
    width: 220px;
    background: #FBFBFD;
    border: 1.35px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4.05px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -112px;
    font-family: SamsungOne;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #575F65;
    opacity: 0;
    transition: opacity 0.3s;
    padding:10px;
}

/* Tooltip arrow */
.tooltipInput .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  background: #FBFBFD;
  border-color: #EBEBEB transparent transparent transparent;
}

.tooltipInput:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@keyframes arrow-movement {
  0% { 
      opacity: 0;
      top: -30px;
  }
  70% {
      opacity: 1;
  }
  100% { 
      opacity: 0;
  }
}
.form-check-input {
  position: relative!important;
  margin-top: .3rem!important;
  margin-right: 15px!important;
  left: 2px!important;
  -webkit-appearance: auto;
  float: left;
}
.custom a{
  color:#000;
}

.arrow{
  position: relative;
  top:  -50px;
  width: 20px;
  margin:auto;
}
.sorteo .banner{
  clear: left;
  float: left;
  padding: 0px 20px;
  margin: 80px 0px;
  background: #F7F7F7;
  border-radius: 6px;
  height: 155px;
}
.sorteo .banner .text{
  font-family: "Samsung Sharp Sans Regular";
  font-size: 23px!important;
  line-height: 124%;
  padding: 0px;
  margin: 35px 0px 0px 0px;
  text-align: left;
  padding: 0px 0px 0px 7%;
}
.sorteo .banner .text b{
  font-family: "Samsung Sharp Sans Bold";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 124%;
}
.sorteo .banner .tv{
  width: 135%;
  position: relative;
  top: -25%;
  left: -10%;
}
.sorteo .banner{
  text-align: center;
} 
.sorteo h3{
  padding-top: 40px;
  font-family: "Samsung Sharp Sans Regular";
  font-style: normal;
  font-weight: 662;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
}
.logos .row .col-md-3{
  margin:0px;
  padding: 0px;
}
.popup_wrap2 {
  text-align: center;
  padding: 10vh;
}
.popup_wrap2 .successText{
  padding: 20px;
}
.slick-dots li button:before {
  content:''!important;
}
.sorteo .form select{
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 0px 0px 0px 20px;
}
.slick-slide img {
  display: block;
  width: 80%;
  margin: auto;
}
.card-link{
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  position: relative;
  width: 100%;
  left: 0px;
  top: -76px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  z-index: 2;
}
.shop{
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.11em;
  text-decoration-line: underline;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 20%;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000000;
}
.box{
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 8px;
  height: 250px;
  padding: 20px;
  margin: 10px;
}
.logos img{
  width: 100%;
}
.sorteo h3 b{
  font-family: "Samsung Sharp Sans Bold";
}
.sorteo h4{
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 136%;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  padding: 20px 0px 0px 0px;
}
.sorteo .banner .btn{
  border-radius: 40px;
  padding: 15px 30px;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-top: 50px;
  background: #000;
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}
.sorteo .banner .btn:active, .sorteo .banner .btn:focus{
  outline: 0!important;
}
.sorteo .form label{
  text-align: left;
  float: left;
}
.sorteo .form input[type=text], .sorteo .form select{
  border: 1px solid #575F65;
}
.sorteo .form .row{
  padding: 10px 0px;
}
.sorteo .custom{
  padding-top: 10px;
}
.sorteo .custom a{
  text-decoration: underline;
  color: #000;
  font-weight: 600;
}
.slider .card{
  width: 100%;
}
.sorteo .premios{
  width: 100%;
}
.sorteo .btn{
  border-radius: 40px;
  padding: 15px 40px;
  border: 1px solid #fff;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-top: 35px;
  background: #000;
}
#featured-video {
  transition: width .2s ease-in-out, height .2s ease-in-out, transform .38s ease-in-out;
}
.noBg{
  background-image: none;
  background-color: #000;
}
.is-sticky {
  position: fixed;
  z-index:8000!important;
  width: 400px;
  height: 250px;
  top:0px!important;
}
@media screen and (min-width: 1120px) {
   #featured-video.is-sticky {
      transform: translateX(-80%);
   }
}
@media screen and (min-width: 1300px) {
   #featured-video.is-sticky {
      transform: translateX(-115%);
   }
}

.slick-dots li button:before{
  width: 12px!important;
  height: 12px!important;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.boxCard {
  height: 400px;
  position: relative;
  overflow: hidden!important;
  margin-bottom: 20px;
}
.boxCard img{
  width: 100%;
}

.card {
  width: 80%;
  background:none!important;;
  border: 0px!important;
  border-radius: 12px;
  position: absolute!important;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  transition: all 400ms ease-in-out;
  z-index: 1;
}
.card.current {
  z-index: 9;
  transform: translateX(-50%) scale(1);
}
.card.current:not(.toLeft) + .card {
  z-index: 2;
}
.card:not(.current) {
  transform: translateX(-35%) scale(0.8);
}
.card:not(.current):last-child {
  transform: translateX(-25%) scale(0.7);
}
.card.toLeft {
  opacity: 0;
  transform: translateX(-85%);
  z-index: 9;
}
.sorteo .grecaptcha-badge {
    bottom: 0px;
    position: initial!important;
    z-index: 99999999999!important;
}
@media  (max-device-width: 768px) and (orientation: landscape) {
  .lead {
    text-align: center;
    font-size: 14px!important;
    padding-bottom: 23vh;
  }
  .tooltipInput .tooltiptext{
    left:-200%!important;
  }
  .masthead h1 {
    text-align: center;
    font-size: 38px!important;
    padding-top: 30px;
  }
  .masthead .play {
    position: absolute;
    top: 50vh;
    width: 40px;
    height: 40px;
    left: 50%;
    cursor: pointer;
    z-index: 9;
    margin: auto;
  }
  .card-link{
    top:-100px!important;
  }
  .sorteo .banner {
    text-align: center;
    height: 70vh!important;
  }
  .masthead {
    background-size: contain!important;
  }
}
@media (min-width: 992px){
  .col-lg-4 {
    flex: 0 0 33.233333%!important;
    max-width: 33.333333%;
  }
  .col-lg-3 {
    flex: 0 0 24.5%!important;
    max-width: 24.5%!important;
  }
}